
.flex{
    display: flex;
    flex-direction: column;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 100px;
    width: 1000px;
}

p{
    color: white;
}

a{
    color: rgb(255, 192, 202);
}

h1{
    color: palevioletred;
    font-family: 'Times New Roman', Times, serif;
}
